*{
    margin: 0;
    padding: 0;
   }
   
   body {
    height: 100vh;
    width: 100vw;
    font-family: "Rubik", sans-serif;
    }
   
   .whole {
    height: 100%;
    width: 100%;
    background-color: black;
   }
   
.B{
    height: 300px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: white;
    font-weight: lighter;
    font-size: 15px;
    gap: 20px;
}
.B h1 {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
.Today{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.harshini1{
    height: 200px;
       width: 360px;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: row;
       border: none;
       left: 20px;;
}
.harshini1 h1{
    font-size: 250px;   
    position: relative;
    text-align: center;
    right: 93px;
    color: gray;
}
.t1 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t2 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t3 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t4 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t5 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t6 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t7 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t8 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t9 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t10 {
    height: 180px;
    width: 120px;
    position: absolute;  
    text-align: center;
}
.tvslide {
    padding: 10px;
    width: 100%;
    text-align: start;
    color: white;
}