*{
    margin: 0;
    padding: 0;
   }
   
   body {
    height: 100vh;
    width: 100vw;
    font-family: "Rubik", sans-serif;
    }
   
   .whole {
    height: 100%;
    width: 100%;
    background-color: black;
   }
   
.B{
    height: 300px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: white;
    font-weight: lighter;
    font-size: 15px;
    gap: 20px;
}
.B h1 {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
.Today{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.Slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
.t1 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}

.t2 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t3 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t4 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t5 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t6 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t7 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t8 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.t9 {
    height: 180px;
    width: 120px;
    position: absolute;
    text-align: center;
}
.sw{
    width: 100%;
    
}
.t10 {
    height: 80px;
    width: 120px;
    position: absolute;  
    text-align: center;
}
.movieslide h1{
  padding: 10px;
  width: 100%;
  text-align: start;
  color: white;
}
@media(max-width:1200px){
    .t6{
        display: none;

    }
    .number6{
        display: none;
    }
    .t7{
        display: none;

    }
    .number7{
        display: none;
    }
    .t8{
        display: none;

    }
    .number8{
        display: none;
    }
    .t9{
        display: none;

    }
    .number9{
        display: none;
    }
    .t10{
        display: none;

    }
    .number10{
        display: none;
    }
}
.img1{
    width: 500px;   
}
.whole1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50%;
}
.number1{
    width: 30%;
}
.number2{
    width: 20%;
}
.number3{
    width: 20%;
}
.swiper{
    width: 100%;
}
.no1{
    width: 40%;
}